:root {
    --accent: 136, 58, 234;
    --accent-light: 224, 204, 250;
    --accent-dark: 49, 10, 101;
    --accent-gradient: linear-gradient(
        45deg,
        rgb(var(--accent)),
        rgb(var(--accent-light)) 30%,
        white 60%
    );
}
html {
    font-family: system-ui, sans-serif;
    background: #13151a;
    background-size: 224px;
}
code {
    font-family:
        Menlo,
        Monaco,
        Lucida Console,
        Liberation Mono,
        DejaVu Sans Mono,
        Bitstream Vera Sans Mono,
        Courier New,
        monospace;
}
h1 {
    color: white;
}
a {
    color: rgb(var(--accent));
    text-decoration: none;
}
.auth-buttons {
    position: absolute;
    top: 10px;
    right: 10px;
}

.auth-buttons button {
    background-color: #007bff;
    color: white;
    border: none;
    padding: 10px 20px;
    cursor: pointer;
    border-radius: 5px;
}

.auth-buttons button:hover {
    background-color: #0056b3;
}
.header-container {
    background-color: #0a0530; 
    padding: 10px 20px; 
    display: flex; 
    justify-content: space-between; 
    align-items: center;
    color: white;
  }

  .header-container h1 {
    margin: 0;
    font-size: 24px;
  }