---
import { getSerieComments, addSerieComment } from '../lib/endpoints-manager.ts';
import { checkAuth } from '../lib/auth';

interface Props {
  serieId: number;
  n_reviews: number;
}

const { serieId, n_reviews } = Astro.props;
const reviews = await getSerieComments(serieId);

const { isAuthenticated } = await checkAuth(Astro.cookies);

const { request } = Astro;
const url = new URL(request.url);
const errorMessage = url.searchParams.get('message');
console.log(errorMessage);
---
{errorMessage && <script>alert('Ha ocurrido un error');</script>}
<h3>Comentarios ({n_reviews})</h3>
{reviews.map(review => (
  <div class="comment-container">
    <p>{review.comment}</p>
    <p class="stars">⭐️ {review.stars}</p>
  </div>
))}

{isAuthenticated ? (
  <form action="/api/add-comment" method="post">
    <input type="hidden" name="serieId" value={serieId} />
    <label for="comment">Comentario:</label>
    <textarea id="comment" name="comment" rows="4" cols="50" required></textarea>
    <br>
    <label for="stars">Estrellas (0-10):</label>
    <input type="number" id="stars" name="stars" min="0" max="10" required>
    <br>
    <button type="submit">Agregar Review</button>
  </form>
) : (
  <p><a href="/signin">Inicia sesión</a> para agregar una review.</p>
)}

<style>
  @import '../styles/comments.css';
</style>
